<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="~/Scripts/knockout-3.4.2.js"></script>
 
    <style type="text/css">
        body {
            font-size: 13px;
        }

        .luntan_title {
            float: left;
        }

        .luntan_author {
            padding-right: 30px;
            float: right;
        }

        .luntan_onlyline {
            float: left;
        }


        .luntan_top {
            padding-top: 10px;
            height: 30px;
        }

        .luntan_detail {
            height: 30px;
        }

        .luntan_ul li:hover {
            background-color: #F7F9FC;
        }

        .input_new_title input {
            border-left: 1px solid #BBBBCC;
            border-right: 1px solid #BBBBCC;
            border-bottom: 1px solid #BBBBCC;
            width: 400px;
            border-top: 1px solid #BBBBCC;
            height: 30px;
        }

        .luntan_list {
            padding-left: 30px;
        }

        .luntan_ul li {
            border-bottom: 1px solid #E8E8E8;
        }

        .luntan_count {
            margin-left: 20px;
        }

        .luntan_new_title {
            margin-left: 20px;
        }

        .luntan_posts_area1 {
            width: 680px;
            margin-left: 20px;
        }



        .luntan_foot {
            margin-right: 20px;
            background-color: #F8F8F8;
        }

        #rightPart {
            border-right: 1px solid #E8E8E8;
        }


        .luntan_commtent {
            float: right;
            margin-bottom: 15px;
            margin-top: 10px;
            font-size: 12px;
            padding-right: 30px;
        }

        .luntan_submit {
            padding-left: 20px;
        }

        .luntan_pager li {
            list-style-type: none;
            float: left;
        }
    </style>

</head>
<body>
    <div>
        <ul class="luntan_ul" id="luntan_ul" data-bind="foreach:{data:posts}">
            <li>
                <div class="luntan_list">
                    <div class="luntan_top">
                        <div class="luntan_title">
                            <a data-bind="text:title,attr:{ href:'/post/Detail?id='+id }"></a>
                        </div>
                        <div class="luntan_author">
                            <span data-bind="text:authorName"></span>
                            <span data-bind="text:createTime"></span>
                        </div>
                    </div>
                    <div class="luntan_detail">
                        <div class="luntan_onlyline" data-bind="text:content"> </div>
                    </div>
                </div>
                <div style="clear:both"></div>
            </li>
        </ul>
        <div class=" kongbai" style="height:20px;"></div>
    </div>
    <script>
        var postList = JSON.parse('@Html.Raw(ViewBag.posts)').data;
        function ReservationsViewModel() {
            self.posts =postList;
        }
        var viewModel = new ReservationsViewModel();
        ko.applyBindings(viewModel);

    </script>
</body>
</html>